    <header class="title">
      <h1 class="text-center">Welcome to Future Urban Mobility</h1>
      
    </header>

    <div class="content">
      <div id="left-panel">
        <h3>Select a date:</h3>
      </div>
      
      <div id="center-panel">
        {{outlet}}
      </div>
    </div>